.padding {
	padding: 0 8vw;
}

.news-grid {
	grid-template-columns: auto auto auto;
	column-gap: 20px;
	row-gap: 20px;
	padding-top: 20px;
}

.article-img {
	height: 30vw;
	width: 100%;
	object-fit: contain;
}
